// Pattern Library header
.pl-site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.pl-site-title {
    font-size: rem(26);
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
	padding-top: rem(10);

    &,
    &:visited {
        color: $grey-color-dark;
    }
	
	img {
		max-width: 120px;
	}
	
	span {
		@extend %screen-reader-text;
	}
}

.pl-site-nav {
    float: right;
    line-height: 56px;

    .pl-menu-icon {
        display: none;
    }

    .pl-page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .pl-menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .pl-trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .pl-page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


// Pattern Library site footer
.pl-site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}


// Pattern Library PAGE styling
.pl-page-content {
    padding: $spacing-unit 0;
}

.pl-page-heading {
    font-size: 20px;
}

.pl-post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.pl-post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.pl-post-link {
    display: block;
    font-size: 24px;
}


// Pattern Library POST styling
.pl-post-header {
    margin-bottom: $spacing-unit;
}

.pl-post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.pl-post-content {
    margin-bottom: $spacing-unit;
}


// Pattern Libary category blocks
.pl-category {
	float: left;
	margin-bottom: rem(26);
	margin-right: 2%;
	width: 32%;
	
	@include media-query($on-palm) {
		float: none;
		margin-right: 0 !important;
		width: 100%;
	}
	
	&:nth-of-type(3n) {
		margin-right: 0;
	}
	
	h2 {
		display: inline-block;
		line-height: 1;
		margin-bottom: rem(8);
		vertical-align: top;
		
		span {
			background-color: $brand-color;
			border-radius: 50%;
			color: white;
			display: inline-block;
			font-size: rem(11);
			font-weight: 400;
			height: rem(22);
			line-height: 1.2;
			top: rem(-6);
			padding: rem(4);
			position: relative;
			text-align: center;
			width: rem(22);
		}
	}
}

#pl-toggle-code {
	border-top: 1px dashed $grey-color-dark;
	color: $grey-color;
	display: block;
	font-size: rem(14);
	margin: 0 auto;
	padding: rem(8) rem(10);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: rem(80);
}

.pl-colors {
	
	.pl-color-swatch {
		display: block;
		float: left;
		margin-bottom: rem(26);
		margin-right: 1%;
		width: 19%;
		
		@include media-query($on-palm) {
			float: none;
			margin-right: 0 !important;
			width: 100%;
		}
		
		&:nth-of-type(5n) {
			margin-right: 0;
		}
		
		.pl-color-swatch-tile {
			display: block;
			height: rem(80);
			width: 100%;
		}
		
		.pl-color-swatch-text {
			background-color: white;
			border-style: solid;
			border-width: 1px;
			display: block;
			height: rem(75);
			padding: rem(8);
			text-align: center;
			width: 100%;
		}
	}
}