@if $use-accordion-single == true {

	// Style the main accordion trigger button
	.accordion-trigger {
		@include transition (all 0.2s ease-in-out);

		background-color: transparent;
		color: $color-text-main;
		display: block;
		padding: 0;
		position: relative;
		text-align: left;
		width: 100%;

		&:hover,
		&:focus {
			background-color: transparent;
		}

		&:hover {
			color: $color-link-visited;
		}

		// Add a pseudo element +. This can be updated to use an SVG background image as well.
		&:after {
			color: $color-black;
			content: "+";
			display: block;
			font-size: rem(24);
			height: rem(24);
			margin-top: rem(-18);
			position: absolute;
			right: rem(25);
			top: 50%;
			width: rem(24);
		}

		// Rotate the arrow down when opened
		.active & {

			&:after {
				content: "-";
			}
		}
	}

	// Hide our accordion content by default
	.accordion-content {
		display: none;
		overflow: hidden;
	}

	// Adjust the article containing each accordion's content
	.accordion-content-container {
		margin: 0 auto;
		max-width: 100%;
		padding: 0 rem(25);
		width: rem(976);

		@include media($tablet-landscape) {
			padding: 0;
		}

		// Add some H2 styles for the accordion section title/butotn
		article {
			align-items: center;
			display: flex;
			flex-direction: column;
			font-size: rem(18);
			margin-bottom: rem(18);
			padding: rem(21) rem(27) rem(10);

			h2 {
				font-size: rem(20);
				margin: 0 0 rem(11);
			}
		}

		p:last-of-type {
			margin-bottom: 0;
		}

		.content-container {
			width: 100%;
		}

		h1 {

			text-align: center;

			@include media($tablet-landscape) {
				margin-bottom: rem(76);
			}
		}
	}

	// Add some styles for JS disabled
	.no-js {

		.accordion-trigger {

			&:after {
				display: none;
			}
		}

		.accordion-content {
			display: block;
		}
	}

} // end if check