@if $use-flexbox-nav-dropdown == true {

	.main-navigation {
		background-color: $color-black;
	}
	
	// <ul> Menu defaults
	.menu.flex-menu {
		@include list-reset;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		// <li> Each menu item
		.menu-item {
			position: relative;
			
			&:hover > a,
			&.focus > a {
				background-color: $color-dove-gray;
			}
		} // .menu-item
		
		// <ul> Each sub-menu
		ul {
			@include list-reset;
			
			display: flex;
			flex-basis: content;
			flex-direction: column;

			// Hide by default
			left: rem(9999);
			position: absolute;
			top: rem(50);

			// <li> Sub-menu items
			.menu-item {

				// Display sub sub-menu
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			// Sub-menu links
			a {
			}

			// Menu items on hover.
			:hover > a,
			.focus > a {
				background-color: $color-black;
				color: $color-white;
			}

			a:hover,
			a.focus {
			}
		} // <ul>

		// Menu hyperlinks
		a {
			align-items: flex-start;
			color: $color-white;
			display: flex;		
			padding: rem(12) rem(24);
			text-decoration: none;
		} // <a>

		// Current items
		.current_page_item a,
		.current-menu-item a {
			background-color: $color-white;
		}
		
		// Display sub-menu on hover
		li:hover > ul,
		li.focus > ul {
			background: $color-dove-gray;
			left: auto;
			width: rem(200);
			z-index: 999999;
		}	
	} // .menu.flex-menu
	
} // end if check