@if $use-flexbox-grid == true {
	// Grid container.
	.grid-area {
		@include clearfix;
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(center);

		// Each grid item.
		.grid-item {
			@include flex(2 2 rem(240));
			@include margin(rem(4));
			@include padding(rem(32) rem(32) rem(48) rem(32));
			@include transition (all 0.2s ease-in-out);
			
			background: $color-white;
			border-radius: 3px;
			text-decoration: none;

			.grid-item-title {
				@include margin(null null rem(8) null);
				
				color: $color-black;
			}

			.grid-item-copy {
				margin: auto;
				
				color: $color-black;
			}

			&.full-width {
				@include flex(1 1 rem(640));
			}
		}
	}
}