@if $use-form-generic == true {
	
	$color-required: #ff0000;
	
	.generic-form {
		
		.col {
			float: left;
			margin-right: 4%;
			width: 48%;
			
			&:nth-of-type(2n) {
				margin-right: 0;
			}
			
			input {
				width: 100%;
			}
		}
		
		fieldset {
			margin: 0;
		}
		
		.inline-inputs {
			
			input {
				display: inline-block;
				width: auto;
			}
			
			label {
				margin-right: 2%;
			}
		}
		
		.required {
			color: $color-required;
		}
		
		button,
		input[type="submit"] {
			clear: both;
			display: block;
		}
	}
} // end if check