@if $use-horizontal-bar-chart == true {

	//Mixin that allows staggering of animation
	@mixin stagger-anim-delay($i, $stagger-delay) {
	 	@while $i > 0 {
			&:nth-of-type(#{$i}) {
				animation-delay: $stagger-delay * $i;
			}
			
			$i: $i - 1;
		}
	}

	//Animation that moves in bars
	@keyframes animation-lightspeed-in {
	 	0% { 
			opacity: 0;
			transform: translateX(-200%);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	// Wrapper around chart
	.chart-wrapper {
		margin: 0 auto;
		max-width: rem(960);
		width: 80%;
	}

	// Horizontal Chart + Bars + Labels
	.chart-horizontal {
		@include list-reset;
		
		overflow: hidden;

		.chart-bar-label {
			color: $color-white;
			line-height: rem(26);
			margin-left: rem(5);
		}

		.chart-bar {
			@include stagger-anim-delay(10, 0.2s);
			
			animation: 1s animation-lightspeed-in ease forwards;
			background: $color-black;
			height: rem(26);
			margin: rem(5) 0;
			opacity: 0;
			overflow: hidden;

			&[data-skill="10"] {
				width: 10%;
			}

			&[data-skill="20"] {
				width: 20%;
			}

			&[data-skill="30"] {
				width: 30%;
			}

			&[data-skill="40"] {
				width: 40%;
			}

			&[data-skill="50"] {
				width: 50%;
			}

			&[data-skill="60"] {
				width: 60%;
			}

			&[data-skill="70"] {
				width: 70%;
			}

			&[data-skill="80"] {
				width: 80%;
			}

			&[data-skill="90"] {
				width: 90%;
			}

			&[data-skill="100"] {
				width: 100%;
			}
		} // .chart-bar
	} // .chart-horizontal
	
} // end if check