@if $use-nav-with-submenus == true {

	.menu {
		background-color: $color-black;
		display: table;
		width: 100%;
		
		li {
			display: table-cell;
			text-align: center;
			
			&:hover,
			&:focus {
				
				> a {
					background-color: $color-blue;
				}
			}
		} // .menu <li>
		
		a {
			@include transition (color 0.2s, background-color 0.2s ease-in-out);
			
			color: $color-white;
			display: block;
			padding: rem(15);
			word-wrap: break-word;
			
			&:hover {
				color: darken($color-white, 10%);
				text-decoration: none;
			}
		} // .menu <a>
	} // .menu

	// Parent menus
	.menu-item-has-children {
		position: relative;
		
		&:hover {
			
			> .sub-menu {
				display: block;
			} // .menu-item-has-children:hover > .sub-menu
		} // .menu-item-has-children:hover
		
		a {
			
			&:after {
				@include triangle(14px, $color-white, down);
				
				content: '';
				height: rem(12);
				margin: rem(-2) 0 0 rem(6);
				position: absolute;
				top: 50%;
			} // .menu-item-has-children a:after
		} // .menu-item-has-children <a>
	} // .menu-item-has-children

	// Hidden submenus
	.sub-menu {
		display: none;
		position: absolute;
		width: 100%;
		
		.active & {
			display: block;
		} // .active .sub-menu
		
		li {
			display: block;
			width: 100%;
		} // .sub-menu <li>
		
		.sub-menu {
			display: none;
			left: 100%;
			top: 0;
		} // .sub-menu .sub-menu
		
		.active {
			
			> .sub-menu {
				display: block;
			}
		} // .sub-menu .active
	} // .sub-menu

	// Display sub-submenus to the left for the last item in the navigation row
	.menu {
		
		li:last-child {
			
			&.menu-item-has-children {
				
				.sub-menu .sub-menu {
					left: auto;
					right: 100%;
				}
			} // .menu.menu-item-has-children
		} // .menu li:last-child
	} // .menu
	
} // end if check