@if $use-nav-with-submenus == true {

	.nav-with-submenus {
		background-color: $color-dove-gray;
		display: table;
		margin: 0;
		padding: 0;
		table-layout: fixed;
		width: 100%;
		
		ul {
			margin: 0;
			padding: 0;
		}
		
		> li {
			display: table-cell;
			margin: 0;
			text-align: center;
			
			&:hover,
			&:focus {
				
				> a {
					background-color: $color-mineshaft;
				}
			}
		} // .menu.nav-with-submenus > li
		
		a {
			@include transition (color 0.2s, background-color 0.2s ease-in-out);
			
			color: $color-white;
			display: block;
			padding: rem(15);
			word-wrap: break-word;
			
			&:hover {
				background-color: $color-mineshaft;
				color: darken($color-white, 10%);
				text-decoration: none;
			}
		} // .menu.nav-with-submenus <a>
		
		// Parent menus
		.menu-item-has-children {
			position: relative;
			
			&:hover {
				
				> .sub-menu {
					display: block;
				} // .menu-item-has-children:hover > .sub-menu
			} // .menu-item-has-children:hover
			
			a {
				
				&:after {
					@include triangle(14px, $color-white, down);
					
					content: "";
					height: rem(12);
					margin: rem(-2) 0 0 rem(6);
					position: absolute;
					top: 50%;
				} // menu.nav-with-submenus .menu-item-has-children a:after
			} // menu.nav-with-submenus .menu-item-has-children <a>
		} // menu.nav-with-submenus .menu-item-has-children
		
		// Hidden submenus
		.sub-menu {
			background-color: $color-dove-gray;
			display: none;
			position: absolute;
			width: 100%;
			
			.active & {
				display: block;
			} // .active .sub-menu
			
			li {
				display: block;
				width: 100%;
			} // .sub-menu <li>
			
			.sub-menu {
				display: none;
				left: 100%;
				top: 0;
			} // .sub-menu .sub-menu
			
			.active {
				
				> .sub-menu {
					display: block;
				}
			} // menu.nav-with-submenus .sub-menu .active
		} // menu.nav-with-submenus .sub-menu
		
		// Display sub-submenus to the left for the last item in the navigation row
		> li:last-child {
			
			&.menu-item-has-children {
				
				.sub-menu .sub-menu {
					left: auto;
					right: 100%;
				}
			} // .menu.nav-with-submenus > li:last-child.menu-item-has-children
		} // .menu.nav-with-submenus > li:last-child
		
	} // .menu.nav-with-submenus
	
} // end if check