@if $use-navigation-menu-with-submenus == true {
	.menu {
		background-color: $color-gallery;
		display: table;
		margin: 0;
		padding: 0;
		table-layout: fixed;
		width: 100%;
		
		li {
			box-sizing: border-box;
			display: table-cell;
			list-style-type: none;
			text-align: center;
			
			&:hover,
			&:focus {
				
				> a {
					background-color: $color-light-yellow;
				}
			}
		}
		
		a {
			@include transition (all 0.2s ease-in-out);
			
			color: $color-blue;
			display: block;
			padding: rem(15);
			word-wrap: break-word;
			
			&:hover {
				color: darken($color-blue, 10%);
				text-decoration: none;
			}
		}
	}

	// Parent menus
	.menu-item-has-children {
		position: relative;
		
		&:hover {
			
			> .sub-menu {
				display: block;
			}
		}
		
		a {
			
			&:after {
				@include triangle(14px, $color-blue, down);
				
				content: '';
				margin: rem(-2) 0 0 rem(6);
				position: absolute;
				top: 50%;
				height: rem(12);
				
			}
		}
	}

	// Hidden submenus
	.sub-menu {
		display: none;
		position: absolute;
		width: 100%;
		
		.active & {
			display: block;
		}
		
		li {
			display: block;
			width: 100%;
		}
		
		.sub-menu {
			display: none;
			left: 100%;
			top: 0;
		}
		
		.active {
			
			> .sub-menu {
				display: block;
			}
		}
	}

	// Display sub-submenus to the left for the last item in the navigation row
	.menu {
		
		li:last-child {
			
			&.menu-item-has-children {
				
				.sub-menu .sub-menu {
					left: auto;
					right: 100%;
				}
			}
		}
	}
}