@if $use-non-flexbox-grid == true {
	// Grid container.

	.grid-items {
		@include clearfix;
		@include outer-container;

		// Each grid item.
		.grid-item {
			@include span-columns(12);
			@include transition (all 0.2s ease-in-out);

			background: $color-white;
			cursor: pointer;
			float: left;
			outline: none;
			overflow: hidden;
			margin-bottom: rem(32);
			padding: rem(16);

			// Show two cards per row.
			@include media($phone-landscape) {
				@include span-columns(6);
				@include omega(2n);
			}
			
			// Show four cards per row.
			@include media($tablet-landscape) {
				@include omega-reset(2n);
				@include span-columns(3);
				@include omega(4n);
			}

			.grid-title {
				color: $color-black;
				margin-bottom: rem(7);
			}

			.grid-copy {
				color: $color-black;
			}
		}
	}
}