@if $use-pagination == true {

	//local variables
	$pagination-font-color: #000;
	$pagination-background-color: #ddd;
	$action-color: darken($pagination-font-color, 10);
	$pagination-border-radius: rem(3);
	$pagination-padding: rem(20);

	.pagination {

		text-align: center;

	 	ul {
			display: inline;
			margin: 0;
			padding: 0;
			text-align: center;

			li {
				display: inline;
				list-style: none;
			}

			ul li {
				display: none;
				
				@include media($tablet-portrait) {
					display: inline;
				}

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					display: inline;
				}
			
			}

			li a {
				@include transition (all 0.2s ease-in-out);

				background: $pagination-background-color;
				border-radius: $pagination-border-radius;
				color: $pagination-font-color;
				outline: none;
				padding: ($pagination-padding / 4) ($gutter / 2);
				text-decoration: none;

				&:hover,
				&:focus {
					background: $action-color;
					color: $pagination-background-color;
				}

				&:active {
					background: $pagination-background-color;
				}
			}
		}
	}
}