////////////////////////////////////////////////////////////
// Import everything to generate your animate sass module //
////////////////////////////////////////////////////////////
//--------------------------------------------------------------
// Patterns - import everything to generate your patterns sass
//--------------------------------------------------------------

$use-flexbox-grid : true !default;
@import	"_flexbox-grid";

$use-icon-bullet-points : true !default;
@import	"_icon-bullet-points";

$use-mobile-navigation : true !default;
@import	"_mobile-navigation";

$use-navigation-menu-with-submenus : true !default;
@import	"_navigation-menu-with-submenus";