////////////////////////////////////////////////////////////
// Import everything to generate your animate sass module //
////////////////////////////////////////////////////////////
//--------------------------------------------------------------
// Patterns - import everything to generate your patterns sass
//--------------------------------------------------------------

// Expanding Search Box (CSS only)
$use-expanding-search-box-css-only : true !default;
@import	"_expanding-search-box-css-only";

$use-featured-device-hero : true !default;
@import	"_featured-device-hero";

// Flexbox Navigation with Dropdown
$use-flexbox-nav-dropdown : true !default;
@import	"_flexbox-nav-dropdown";